@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}



input, textarea {
    width: 100%;
    background-color: #242424;
    color: white;
    outline: none;
    border: 3px solid #c0c4cc;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 40px;
    transition: all 350ms ease;
    
}

input:hover,
textarea:hover
{
border-color: #dcdfe6 ;    
}

input:focus,
textarea:focus
{
border-color: #f06449 ;    
}

.textarea {
    resize: vertical;
    height: 100px;
    margin-top:8px;
}

label {
    font-size: 14px;
    font-weight: bold;
}

.about_me {
    cursor: pointer;
}

.link_hover-effect{
    position: relative;
}



.link_hover-effect:after {
    content: "";
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    position: absolute;
    transition: all 300ms ease;

}

.link_hover--effect-black:after {
    background-color: black ;
}

.link_hover--effect-white:after {
    background-color: white ;
}

.link_hover-effect:hover:after{
    left: 0;
    width: 100%;
}

nav,
.scroll,
.header {
    opacity: 1;
    visibility: visible;
    transition: all 600ms 300ms;
}

.modal--open nav,
.modal--open .scroll,
.modal--open .header 
{
    opacity: 0;
    visibility: hidden;
    transition: all 400ms;
}

html{
    scroll-behavior: smooth;
}


.container {
    padding: 50px 0px;
    width: 100%;
}

.row {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 12px;
}


.click:hover {
    transform: scale(1.1);
}

.click:active {
    transform: scale(0.8);
}

.click {
    transition: all 300ms ease;
    cursor: pointer;
}

button {
    cursor: pointer
}

li {
    list-style-type: none;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

a {
    text-decoration: none;
}

section {
background-color: rgb(245, 245, 245);
transition: all 300ms ease;
}

.purple {
    color: #797df6;
    font-weight: bold;
}

.title {
    font-size: 95px;
    margin-bottom: 12px;
    text-align: left;
    line-height:1
}

.dark-theme #personal-logo {
    filter: invert(100);
}

.dark-theme .purple
{
    color:#E8E163;
}

.dark-theme .scroll_icon {
    border-color: white;
}

.dark-theme .mail_btn {
    background-color: white;
    color: black;
}

.dark-theme .scroll_icon:after,
.dark-theme .link_hover--effect-black:after
{
    background-color: white;
}

.dark-theme .social_link {
    background-color: #E8E163;
    color: black;
}

.dark-theme .title,
.dark-theme .section_title,
.dark-theme .header_para,
.dark-theme .nav_link--anchor,
.dark-theme .fa-adjust,
.dark-theme .title
{
color: white;
}

.dark-theme section{
background-color: #242424;
}


/* LANDING PAGE */

#landing_page {
    min-height: 100vh;
}

.header_para {
    font-size: 24px;
    line-height: 2;
    max-width: 450px;
}

.social_list {
    margin-top: 16px;
    display: flex;

}

.social_link {
    background-color: #797df6;
    color: white;
    padding: 6px;
    width: 32px;
    height: 32px;
    font-size: 14px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;


}

.animation_wrapper {
    height: 450px;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    animation: orbit 10000ms linear infinite ;
    
}



.earth {
    position: absolute;
    right:-30px;
    top:25%;
    height: 220px;
    width: 220px; 
}

.rocket {
    right: -40px;
    height: 80px;
    width: 80px; 
    transform: rotate(45deg);
    
}

@keyframes orbit{
    
    0%{
        transform: rotate(0);
            }

    100%{
        transform: rotate(-360deg);
    }
}




.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
 
}

.mail_btn {
    width: 70px;
    height: 70px;
    font-size: 32px;
    border-radius: 50%;
    border: none;
    background-color: #242424;
    color: white;
    position: fixed;
    box-shadow: 0 12px 30px 0 rgb(0, 0, 0, 0.28);
    bottom: 32px;
    right: 40px;
    z-index: 100;

}

.scroll {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform:translateX(-50%) ;
}

.scroll_icon {
    width: 20px;
    height: 30px;
    border: 2px solid #242424;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll_icon:after{
    content:'';
    width: 4px;
    height: 6px;
    background-color: #242424;
    border-radius: 2px;
    animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
    0% {
        transform: translateY(3px);
    }

    100% {
        transform: translateY(-3px);
    }
}

/* NAVIGATION */

#personal-logo {
    height: 50px;
    width: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
    padding: 0 20px;
}

.nav_link--list {
    display: flex;
}

.nav_link {
    margin: 0 12px;
}

.nav_link--anchor {
    text-decoration: none;
    font-size: 16px;
    color: #242424;
    font-weight: 700;
}

.fa-adjust {
    font-size: 20px;

}

/* MODAL */

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1100px;
    height: 700px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    visibility: hidden;
    z-index: -1;
    transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}

.modal--open .modal_about,
.modal--open .modal_contact {
    transform: translateX(0%);
}

.modal_about {
    background-color: rgb(245, 245, 245);
    transform: translateX(-110%);
}

.modal--open .modal{
    z-index: 60;
    visibility: visible;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
}


.modal_half {
    width: 50%;
    padding: 40px 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transition: all 300ms ease;
}



.form_submit {
    background-color: #f06449;
    border: 2px solid #f06449;
    color: white;
    font-weight:700;
    width: 50%;
    max-width: 240px;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 8px;
    transition: all 300ms ease;
}

.form_submit:hover{
    background-color: transparent;
    border-color: white;
}

.form_submit:active {
    border-color: #f06449;
    color: #f06449
}

.css{
    height: 68.8px;
}

.modal_contact {
    background-color: #242424;
    color: white;
    transform: translateX(110%);
}

.modal_title {
    font-size: 26px;
}

.modal_subtitle {
margin: 12px 0 24px 0 ;
font-size: 14px;
}

.modal_para {
    margin-bottom: 12px;
    line-height: 1.75;
}

.modal_languages {
    display: flex;
    flex-wrap: wrap;

}

.language_stack {
    font-size: 22px;
    margin-bottom:8px;
    margin: 0 auto;
}

.modal_language:hover {
    transform: scale(0.8);
    filter: brightness(80%);
}

.modal_language:hover .language_name {
transform: scale(1);
}

.modal_language {
width: 25%;
padding: 16px;
display: flex;
flex-direction: column;
align-items: center;
position: relative;
transition: all 300ms ease;
}

.language_name {
    position: absolute;    
    bottom: -10px;
    transform: scale(0);
    transition: all 300ms ease;

}

.modal_language--image{
    width: 100%;
}

 .form__item {
    margin-bottom: 20px;
 }

.modal_overlay {
    position: absolute;
    top:0 ;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    
   
}

 .modal_overlay--loading{
    background-color: #242424;
    font-size: 80px;
    z-index: -1;
 }

 .modal_overlay--success {
    background-color: #4bb543;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 28px;
    z-index: -1;
 }

 .fa-spinner {
animation: spinner 750ms infinite linear;
 }

.modal_overlay--visible{
    z-index:1;
    display: flex;
}

 @keyframes spinner{
    0%{
transform: rotate(0);
    }

    100%{
        transform: rotate(360deg);
    }
 }

.modal_exit {
    position: absolute;
    top: 30px;
    right: 40px;
    color: white;
    font-size: 36px;
    z-index: 100;
}

/* PROJECTS */

.section_title {
    text-align: center;
    font-size: 48px;
    margin-bottom: 60px;
}

.project {
    margin-bottom: 135px;
}

.project_image {
    width: 100%;
    transition: all 600ms ease;
}

.project_wrapper {
    position: relative;
    border-radius: 20px;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
    overflow: hidden;
}

.project_description {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(100%);
    color: white;
    max-width: 550px;
    opacity: 0;
    transition: opacity 300ms, transform 450ms ease;
}

.project_wrapper-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: all 450ms ease;
}

.project_description--title {
    font-size: 40px
}

.project_description--sub-title {
    margin-top: 8px;
}

.project_description--para {
    margin: 16px 0;
}

.project_description--link {
    font-size: 20px;
    color: white;
    margin-right: 16px;
}

.project_wrapper:hover .project_description {
opacity: 1;
transform: translateY(-50%);
}

.project_wrapper:hover .project_image {
transform:scale(1.07);
filter: blur(5px);
}

.project_wrapper:hover .project_wrapper-bg {
opacity: 0.7;
}

/* FOOTER */

footer {
    background-color: #242424;
    display: flex;
    padding: 6% 0;
    position: relative;

}

.footer_logo {
    filter: invert(100);
    width: 70px
}

.footer_row{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer_social--list {
    width: 100%;
    max-width: 500px;
    margin:28px 0px;
    display: flex;
    justify-content: space-around;
    
}

.footer_social--link,
.footer_copyright
{
color: white;
}

/* SHAPES */

.shape {
    position: fixed;
}

.shape--0 {
    top: 15vh;
    left: 5vw;
}

.shape--1 {
    top: 15vh;
    left: 50vw;
}

.shape--2 {
    top: 15vh;
    left: 80vw;
}

.shape--3 {
    top: 50vh;
    left: 5vw;
}

.shape--4 {
    top: 50vh;
    left: 50vw;
}


.shape--6 {
    top: 80vh;
    left: 5vw;
}

.shape--7 {
    top: 80vh;
    left: 50vw;
}

.shape--8 {
    top: 80vh;
    left: 80vw;
}


/* Small Phones, Tablets, Large Smart phones */ 

@media (max-width: 768px){
    .title {
        font-size: 80px;
    }

    .header_para {
        font-size: 20px;
    }

    .modal {
        top: 0;
        left: 0;
        transform: none;
        height: auto;
        width: 100%;
        flex-direction: column-reverse;
        border-radius: 0;
    }

    .modal_half {
        width: 100%;
    }
}

/* Small phones */ 

@media (max-width: 480px){
    .title {
        font-size: 52px;
    }

    .header_para {
        font-size:18px;
    }

    .nav_link:first-child {
        display: none;
    }

    .project_description--para {
        display: none;
    }

    .project_description {
        left: 0;
        padding: 0;
        width: 100%;
        text-align: center;
    }

    .project_description--sub-title {
        margin-bottom: 8px;
    }

    .modal_half {
        padding: 40px;
    }
}